<header class="masthead" style="background-image: url('https://images.pexels.com/photos/567540/pexels-photo-567540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Log in</h2>
          </div>
        </div>
      </div>
    </div>
</header>
<div class="container" style="margin-top: -15vh">
  <div class="row">
    <div class="col-lg-5 col-md-5 mx-auto">
      <div class="card px-2 py-2">
        <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        label: false,
                        placeholder: 'Email',
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        label: false,
                        placeholder: 'Password',
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in",:class=>"btn btn-success" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>