<header class="masthead" style="background-image: url('https://images.pexels.com/photos/1090972/pexels-photo-1090972.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Write a Post</h1>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="container" style="margin-top: -10vh">
  <div class="row">
    <div class="col-lg-12 col-md-12 mx-auto">
      <div class="card px-2 py-2 mb-3">
        <div class="card-body">
          <%= render 'form', post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>