@import "bootstrap";
@import "clean-blog.min.scss";
.alert{
    margin:0;
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border: 0;
    border-radius:0px;
    background-color: #55B559;
    padding: 28px;
    text-align: center;
    color: #fff;
    font-weight: 450;
    .close{
        color: #fff !important;
        opacity: 0.80;
    }
    .close:hover{
        color: #fff !important;
        opacity: 1;
    }

}

.no-underline:hover{
    text-decoration: none;
}

.green{
    color: #00E676 !important;
}